/* styles.css */
body {
    font-family: Arial, sans-serif;
}

#container {
    width: 80%;
    margin: 0 auto;
}

#sidebar {
    float: right;
    width: 20%;
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
}
